*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text: #755540;
  --text-h: #4a3526;
  --bg: #f2efe5;
  --border: #e6e1d6;
  --code-bg: #ece7db;
  --accent: #f8c1e1;
  --accent-bg: rgba(248, 193, 225, 0.15);
  --accent-border: rgba(248, 193, 225, 0.5);
  --social-bg: rgba(236, 231, 219, 0.6);
  --shadow: rgba(117, 85, 64, 0.15) 0 10px 15px -3px, rgba(117, 85, 64, 0.08) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100%;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
