.pageBody {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  padding: 24px 40px;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
